certifi==2026.7.22
charset-normalizer==3.5.1
fonttools==4.65.0
idna==3.20
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
proot-distro @ file:///home/builder/.termux-build/proot-distro/src
Pygments==2.21.0
requests==2.34.2
rich==15.0.0
setuptools==84.0.0
termux-python==0.1.0
urllib3==2.8.0
wheel==0.48.0
